In [ ]:
# importing pandas as pd
import pandas as pd
  
# Creating the Series
sr = pd.Series([959110,683734, 623210, 404883, 317526, 170781,86875,54710,40260,34471,30657,29033,25102,21268,18259,14737, 14478,8589, 7615,5941,
                4593,2415,2025, 1748, 1695,1631,1560,1287, 1269, 1200,1192,856,807,705, 527, 516,
                302, 276,251,249,135, 102,95,79,74,45,38,34,34,33,25,24,21,21,
                20,18,17,14,12,11,10,10,10,9,9,9,7,6,5,5,5,4,4,3,2,1,1,1])
  
# Create the Index
index_ = ['GOOGLE','HTTP','HTTP_PROXY','SSL','HTTP_CONNECT','YOUTUBE','AMAZON',
          'MICROSOFT','GMAIL','WINDOWS_UPDATE','SKYPE','FACEBOOK','DROPBOX','YAHOO',
          'TWITTER','CLOUDFLARE','MSN','CONTENT_FLASH','APPLE','OFFICE_365','WHATSAPP','INSTAGRAM','WIKIPEDIA','MS_ONE_DRIVE','DNS','IP_ICMP','NETFLIX','APPLE_ITTUNES','SPOTIFY','APPLE_ICLOUD','EBAY',
          'SSL_NO_CERT','GOOGLE_MAPS','EASYTAXI','TEAMSVIWER','HTTP_DOWNLOAD','MQTT','TOR','FTP_DATA','UBUNTUONE','NTP',
          'SSH','EDONKEY','WAZE','DEEZER','UNENRYPTED_JABBER','CITRIX_ONLINE','TIMMEU',
          'UPNP','TELEGRAM','FTP_CONTROL','TEITCH','MSSQL','H323','CNN','LASTFM','CITRIX','ORACLE',
          'TEAMSPEAK','BGP','RTMP','BITTORRENT','WHOIS_DAS','SKINNY','OPENSIGNAL','MAIL_IMAPS','OSCAR','LOTUS_NOTES','SIMET','IP_OSPE','RADIUS','OPENVPN','SNMP','STARCRAFT','QQ','99TAXI','SOCKS','NFS']
  
# set the index
sr.index = index_
  
# Print the series
print(sr)

GOOGLE          959110
HTTP            683734
HTTP_PROXY      623210
SSL             404883
HTTP_CONNECT    317526
                 ...
STARCRAFT            3
QQ                   2
99TAXI               1
SOCKS                1
NFS                  1
Length: 78, dtype: int64

In [ ]:
from operator import index
# perform floating division
result = sr.divide(other = 3577296)
  
# Print the result
print(result)

import matplotlib.pyplot as plt
import numpy as np
x=result

GOOGLE          2.681103e-01
HTTP            1.911315e-01
HTTP_PROXY      1.742126e-01
SSL             1.131813e-01
HTTP_CONNECT    8.876146e-02
                    ...
STARCRAFT       8.386222e-07
QQ              5.590815e-07
99TAXI          2.795407e-07
SOCKS           2.795407e-07
NFS             2.795407e-07
Length: 78, dtype: float64

In [17]:
import pandas as pd

from google.colab import files


result_df = pd.read_csv("./Packet Distribution.csv")


result_df

       protocol  pkt occurance  Unnamed: 2 frequency  Unnamed: 4
0         GOOGLE        959110         NaN    26.81%         NaN
1           HTTP        683734         NaN    19.11%         NaN
2     HTTP_PROXY        623210         NaN    17.42%         NaN
3            SSL        404883         NaN    11.32%         NaN
4   HTTP_CONNECT        317526         NaN     8.88%         NaN
..           ...           ...         ...       ...         ...
75        99TAXI             1         NaN     0.00%         NaN
76         SOCKS             1         NaN     0.00%         NaN
77           NFS             1         NaN     0.00%         NaN
78           NaN       100.00%         NaN       NaN         NaN
79           NaN           NaN         NaN       NaN         NaN

[80 rows x 5 columns]